<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProductBrowser.Properties.Settings.ABB_Product_Browser_DatabaseConnectionString"
            connectionString="Data Source=STØT;Initial Catalog=&quot;ABB Product Browser Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProductBrowser.Properties.Settings.ABB_Product_Browser_DatabaseConnectionString1"
            connectionString="Data Source=ASPIRER7;Initial Catalog=&quot;ABB Product Browser Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProductBrowser.Properties.Settings.ABB_Product_Browser_DatabaseConnectionString2"
            connectionString="Data Source=DEMOROOM-SUR40;Initial Catalog=&quot;ABB Product Browser Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProductBrowser.Properties.Settings.ABB_Product_Browser_DatabaseConnectionString3"
            connectionString="Data Source=aspirer7;Initial Catalog=&quot;ABB Product Browser Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProductBrowser.Properties.Settings.ABB_Product_Browser_DatabaseConnectionString4"
            connectionString="Data Source=UX32V\;Initial Catalog=&quot;ABB Product Browser Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProductBrowser.Properties.Settings.ABB_Product_Browser_DatabaseConnectionString5"
            connectionString="Data Source=SHOWBOARD-SEC;Initial Catalog=&quot;ABB Product Browser Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>