<h3>About.</h3>
<p>The Smartcard Management System is a web-based interface to the database that the Showboard uses. It allows easy managment of media content on the smartcards.</p>

<h3>Development</h3>
<p>This system was developed in 2016 by Sindre Nygård, Bård A. Aspevik and Lars Arne Bæra as a bachelor project at HIB.</p>