@model List<DatabaseModel.Model.SmartCard>

<p> Debug data:</p>
<p> Number of cards in passed list: @Model.Count</p>


<div class="panel-group" id="accordion">

    @for (int i = 1; i <= @Model.Count; i++)
    {
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@i">
                    @Model[i-1].Name
                </a>
            </h4>
        </div>
        <div id="collapse_@i" class="@(i == 1 ? "panel-collapse collapse in" : "panel-collapse collapse")">
            <div class="panel-body">
                TODO - more stuff in here
            </div>
        </div>
    </div>
    }
    

</div>